<div class="jumbotron">
    <h1>UPPSTEAM</h1>
    <p class="lead">A product startup company.</p>
    <p><a href="http://www.uppsteam.com" class="btn btn-primary btn-lg">Visit us &raquo;</a></p>
</div>

<p>
    <a class="btn btn-default" href="api/SchoolData">Download School Data</a>
    <a class="btn btn-default" href="api/Feedback">Download Feedback Data</a>
</p>

